.layout-footer {
	text-align: center;
	color: $color-text;
	border-top: 1px solid $color-grey;
	padding-top: 2rem;
	margin-top: 3rem;
	margin-bottom: 1rem;

	&__social {
		margin-bottom: 0.5rem;
		position: relative;
	}

	& .logo {
		width: 3.2rem;
		margin: 1.4rem auto;
	}
}
