.footer {
    width: 100%;
    justify-self: flex-end;
    margin-top: auto;

    border-top: 1px solid #efefef;

    &__copyright {
        display: flex;
        flex-flow: row nowrap;
        align-items: baseline;
        justify-content: flex-start;
        width: 100%;
        padding-top: 1.6rem;
        padding-bottom: 2rem;

        color: #000;
        font-size: 12px;

        a {
            display: inline-block;
            margin: 0 0 0 20px;

            color: #000;

            &:last-child {
                margin-left: auto;
                justify-self: flex-end;
            }
        }
    }
}
