.search {
	border-bottom: 1px solid $color-grey;
	padding-bottom: 2rem;

	input, button, select {
		margin-right: 1rem;
	}

	input,
	select {
		$color-input: grey(90);

		background: $color-input;
		color: darken($color-input, 15);
		border: none;
		border-radius: 0;
		box-shadow: none;
		width: 100%;
		font-size: 2rem;
		padding: 0.5em;
		text-align: center;
		transition: background 0.3s;

		&::placeholder {
			color: darken($color-input, 5);
		}

		&::selection {
			background: darken($color-input, 2);
			color: darken($color-input, 10);
		}

		&:focus {
			background: lighten($color-input, 5);
		}
	}

	select {
		width: 250px;
		height: 2.4em;
	}

	button {
		background: $color-green;
		color: white;
		border: none;
		width: 15rem;
	}

	form {
		display: flex;
	}

	.error {
		margin-bottom: 0;
	}
}
