.versions {
	padding: 2rem 0;

	h1 {
		font-size: 2rem;
		color: $color-text;
		text-align: center;

		span {
			color: $color-green;
		}
	}

	ul {
		display: flex;
		flex-flow: row wrap;
		justify-content: center;
	}
}
