parameters:
    paths:
        - app
        - database
        - resources
        - tests
    level: max
    excludePaths:
        - database/factories/*.php
        - app/Http/Middleware/*.php
        - app/Http/Kernel.php
        - app/Console/Kernel.php
        - app/Exceptions/Handler.php
