a {
    transition: color .3s ease-in-out, background .3s linear;
    position: relative;
    color: #ed2324;
    text-decoration: none;
    font-weight: bold;
    display: inline;
    background: linear-gradient(to right, #ed2324 100%, #ed2324 100%);
    background-size: 0 2px;
    background-repeat: no-repeat;
    background-position: center 85%;
}

a:hover,
a:active,
a:focus {
     color: #1f1f1f;
     text-decoration: none;
     background-size: 100% 2px;
 }

header a::after {display: none;}
header a {background:none;}
footer a {color:#000;}

ul.versions {
    display: flex;
    flex-flow: row wrap;
    font-family: Monaco,Consolas,monospace;
    font-size: 14px;
    justify-content: center;
}

ul.versions li {
    margin: 0 1rem 1rem 0;
    background: none;
    color: #ed2324;
    border: 2px solid #ed2324;
}

ul.versions li.matches,
ul.versions li:hover,
ul.versions li:active,
ul.versions li:focus {
    background: #ed2324;
}

ul.versions li a {
    transition: none;
    padding: 4px 10px 5px;
}

ul.versions li.matches a,
ul.versions li a:hover,
ul.versions li a:active,
ul.versions li a:focus {
    color: white;
}
