input {
    &:focus {
        outline: 0;
    }
}

.form-control {
    border-radius: 0;
}

.button {
    position: relative;
    z-index: 0;
    transition:
        transform .2s ease-in-out,
        color .2s ease-in-out;

    display: inline-block;
    padding: 9px 25px 11px;

    border: none;

    font-size: 14px;
    font-weight: bold;
    color: #fff;
    text-decoration: none;

    &:hover,
    &:active,
    &:focus {
        background: none;
        color: #ed2324;

        a {
            color: #ed2324;
            text-decoration: none;
            background: none;
        }
    }
    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        box-shadow: inset 0 0 0 36px #ed2324;
        transform: scale3d(1, 1, 1);
        transition: box-shadow .2s ease-in-out, transform .2s ease-in-out;
    }
    &:hover::before,
    &:focus::before,
    &:active::before {
        box-shadow: inset 0 0 0 1.5px #ed2324;
    }

    + .button {
        margin-left: 10px;
    }

    &--secondary {
        background: none;

        color: #ed2324;

        &:hover,
        &:active,
        &:focus {

            color: #fff;
        }

        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: -1;
            box-shadow: inset 0 0 0 1.5px #ed2324;
            transform: scale3d(1, 1, 1);
            transition: box-shadow .2s ease-in-out, transform .2s ease-in-out;
        }
        &:hover::before,
        &:focus::before,
        &:active::before {
            box-shadow: inset 0 0 0 36px #ed2324;
        }
    }

    &--version {
        padding: 4px 10px 5px;
    }
}
